.header {
  @include desktopWidth(1200px);

  display: flex;
  justify-content: flex-end;
  padding: 28px 0 48px;

  &__nav-links {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 400px;
    list-style-type: none;
  }

  &__link {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 500;
  }
}